:root {
  --color-primary-white: #fff;
  --color-primary-light: #2b7fff;
  --color-primary-dark: #011c44;
  --color-brand-light: #4a4a4a;
  --color-secondary-dark: #000;
  --color-brand-normal: #747272;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
